body {
    background: rgb(143, 103, 103);
}

h1 {
    text-align: center;
    color: black;
}

p {
    text-align: center;
    color: white;
}

a {
    color: rgb(103, 209, 103);
    
}

img {
    width: 500px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link-container {
    text-align: center;
}
